.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  @include on-tablet {
    height: 96px;
  }

  &__logo {
    align-self: center;
    height: 16px;

    @include on-tablet {
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }
}
